{% extends 'TrabalhoWeb/registro/base.html' %}
{% block content %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Apaga Candidato</title>
</head>
<body>
    <h1>Remoção de Candidatos</h1>
    <form method="POST">
        {% csrf_token %}
        Confirma a remoção de {{ candidato.nome }}?<br>
        <button>
            <a href="{% url 'lista-candidato' %}"style="text-decoration: none; color: black;">Cancela</a>
        </button>
        <input type="submit" value="Remove">
    </form>
</body>
</html>
{% endblock %}
