{% load static %}
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Lista Contatos</title>
<link rel="stylesheet" href="{% static 'css/estilo.css' %}">
</head>
<body>
 <h1>Lista de Candidatos</h1>
 <table>
 <tr><th>Nome</th><th>Idade</th><th>Salário</th><th>Ações disponíveis</th></tr>
 {% if candidato %}
 {% for c in candidato %}
 <tr>
 <td>{{ c.nome }}</td><td>{{c.estado }}</td><td>{{ c.cidade }}</td>
 </tr>
 {% endfor %}
 {% else %}
 <tr><th colspan="5">Ainda não tem contatos candidato</th></tr>
 {% endif %}
</table>
</body>
</html>